<!-- Literata font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

<!-- Custom typography + sidenotes CSS -->
{{- $custom := resources.Get "css/custom.css" | minify }}
<link rel="stylesheet" href="{{ $custom.RelPermalink }}">

<!-- MathJax -->
{{ if or .Params.math site.Params.math }}
<script>
window.MathJax = {
  loader: {load: ['[tex]/physics']},
  tex: {
    tags: 'ams',
    processEscapes: true,
    inlineMath: [['$', '$']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    packages: {'+': ['physics']}
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{{ end }}

<!-- GoatCounter analytics -->
<script data-goatcounter="https://samritchie.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
