<footer class="page-footer">
<hr />

<div class="previous-post" style="display:inline-block;">
  {{ if .Prev }}
  <a class="link-reverse" href="{{ .Prev.Permalink }}?ref=footer">« {{ .Prev.Title | truncate 50 "..."}}</a>
  {{ end }}
</div>

<div class="next-post", style="display:inline-block;float:right;">
  {{ if .Next }}
  <a class="link-reverse" href="{{ .Next.Permalink }}?ref=footer">{{ .Next.Title | truncate 50 "..." }} »</a>
  {{ end }}
</div>

<ul class="page-footer-menu">
  {{ if isset .Site.Params "twitter" }}
  <li><a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a></li>
  {{ end }}

  {{ if isset .Site.Params "linkedin" }}
  <li><a href="https://linkedin.com/in/{{.Site.Params.linkedin}}">LinkedIn</a></li>
  {{ end }}

  {{ if isset .Site.Params "github" }}
  <li><a href="https://github.com/{{.Site.Params.github}}">GitHub</a></li>
  {{ end }}

  {{ range .Site.Menus.footer }}
    <li><a href="{{.URL}}">{{.Pre }} {{ .Name }}</a></li>
  {{ end }}

  <li><a href="/index.xml">RSS</a></li>
</ul>

</footer>
